{% extends "smartParking/base.html" %}
 {% load static %}
{% block content %}


		<!-- Banner -->
<!--		<section id="banner">-->
<!--			<div class="inner">-->
<!--				<header>-->
<!--					<h1>Camera Detectors</h1>-->
<!--				</header>-->

<!--				<div class="flex ">-->


<!--					<div>-->
<!--						<span class="icon fa-camera"></span>-->
<!--						<a href="generic.html"><h3>Slot detector</h3></a>-->

<!--						<p></p>-->
<!--					</div>-->
<!--					<div>-->
<!--						<span class="icon fa-camera"></span>-->
<!--						<a href="generic.html"><h3>Face detector</h3></a>-->

<!--						<p></p>-->
<!--					</div>-->

<!--					<div>-->
<!--						<span class="icon fa-camera"></span>-->
<!--						<a href="generic.html"><h3>N-Plate detector</h3></a>-->

<!--						<p></p>-->
<!--					</div>-->


<!--				</div>-->


<!--			</div>-->
<!--		</section>-->



{%endblock content%}